In [1]:
import pandas as pd

In [22]:
student_df=pd.read_excel("ALL COMBINED.xlsx", engine='openpyxl')

In [23]:
student_df.shape

(757, 12)

In [31]:
student_df["FIELD_OF_INTEREST"].value_counts()

RESEARCH             66
TESTING              62
PHYSCIOLOGY          58
CODING               55
DESIGNING            55
ENGINEERING          54
AUTOMATION           53
MUSIC                53
FASHION DESIGNING    50
TEACHING             49
DEVELOPMENT          46
DANCE                44
PAINTING             44
SPORTS               38
AERUNAUTICS          30
Name: FIELD_OF_INTEREST, dtype: int64

In [24]:
student_df.columns

Index(['Name', 'Study Hours', 'SGPA_SEMESTER1', 'SGPA_SEMESTER2',
       'SGPA_SEMESTER3', 'SGPA_SEMESTER4', 'STREAM', '10 (%)', 'BOARD',
       '12 (%)', 'BOARD.1', 'FIELD_OF_INTEREST'],
      dtype='object')

In [25]:
student_df["BOARD"].value_counts()

 WBBSE        243
 CBSE         174
CBSE          142
 ICSE          79
WBBSE          19
 CISCE         12
 Icse           9
 Cbse           8
CISCE           6
 C.B.S.E        5
 W.B.B.S.E      5
 WBSE           5
 WBCHSE         3
 Wbbse          3
 wbbse          3
 WBCSE          2
wbbse           2
 CBSE           2
 icse           2
WBSC            1
 hse            1
I C S E         1
 West Beng      1
 WEST BENG      1
 WB             1
Cbse            1
 WBSE           1
SEBA            1
Tripura b       1
 Wbse           1
 WBBSC          1
Jk bose         1
WBCHSE          1
Wbse            1
 cbse           1
 WBBSH          1
W.B.B.S.E.      1
  CBSE          1
 I.C.S.E        1
WBSE            1
Prasun Das      1
 WB board       1
ICSE            1
 CICSE          1
 Cbse           1
 WB             1
 Bihar          1
 BSEB           1
Madhyamik       1
ICSE            1
West Benga      1
 W.W.W.S.E      1
Name: BOARD, dtype: int64

In [27]:
student_df["STREAM"].value_counts()

CSJ    77
CSG    76
CSA    76
CSC    76
CSE    76
CSF    76
CSB    76
CSD    75
CSH    75
CSI    73
CSX     1
Name: STREAM, dtype: int64

In [15]:
round(sum(student_df["Study Hours"].dropna())/student_df["Study Hours"].dropna().shape[0],2)

21.44

In [16]:
round(sum(student_df["SGPA_SEMESTER1"].dropna())/student_df["SGPA_SEMESTER1"].dropna().shape[0],2)

8.74

In [17]:
round(sum(student_df["SGPA_SEMESTER2"].dropna())/student_df["SGPA_SEMESTER2"].dropna().shape[0],2)

8.7

In [18]:
round(sum(student_df["SGPA_SEMESTER3"].dropna())/student_df["SGPA_SEMESTER3"].dropna().shape[0],2)

8.99

In [19]:
round(sum(student_df["SGPA_SEMESTER4"].dropna())/student_df["SGPA_SEMESTER4"].dropna().shape[0],2)

9.27