# Installing Dependencies

In [100]:
!pip install -q neattext
!pip install -q pandas

WARNING: There was an error checking the latest version of pip.
WARNING: There was an error checking the latest version of pip.

# Importing Dependencies

In [1]:
import pandas as pd
import neattext as nt

# Reading the Dataset

In [2]:
df=pd.read_csv('Amz-Products-Data-2023-03-13-ProductFinder.csv')

c:\users\zee tech\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (46,50,51,66,67,68,91,92,93,96,100,101,104,105,106,107,108,109,141,162,166,167,172,173,184,185,242,243,249,267,268,269,271,272,273) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# View of Dataset

In [3]:
df.head(2)

,Locale,Image,Title,Sales Rank: Current,Sales Rank: 30 days avg.,Sales Rank: 90 days avg.,Sales Rank: 180 days avg.,Sales Rank: 30 days drop %,Sales Rank: 90 days drop %,Sales Rank: Lowest,...,One Time Coupon: Absolute,One Time Coupon: Percentage,Subscribe and Save Coupon: Percentage,Buy Box Used ðŸšš: Lowest,Buy Box Used ðŸšš: Highest,Buy Box Used Seller,Buy Box Used: Is FBA,Buy Box Used: Condition,"New, Prime exclusive: Lowest","New, Prime exclusive: Highest"
0,com,https://images-na.ssl-images-amazon.com/images...,Mademark x Daria - Quinn - VP of the Fashion C...,113514.0,112719.0,109131.0,107231.0,-1 %,-4 %,95572,...,-,-,-,NaN,NaN,NaN,no,NaN,NaN,NaN
1,com,https://images-na.ssl-images-amazon.com/images...,Disney Men's Cars 3 Lightning McQueen Graphic ...,113883.0,128709.0,126036.0,134081.0,12 %,10 %,20363,...,-,-,-,NaN,NaN,NaN,no,NaN,NaN,NaN

In [4]:
extracted_results=[]

In [5]:
def extract_products(themes,save=False):
    for theme in themes:
        extracted_results=[]
        for i,prod_title in enumerate(df['Title'].values):
            if theme.lower() in prod_title.lower():
               # print(df.loc[i,'Title'])
               extracted_results.append(i)
        theme_words=nt.remove_stopwords(theme)
        for word in theme_words.split():
            for i,prod_title in enumerate(df['Title'].values):
                if word.lower() in prod_title.lower():
                    extracted_results.append(i)
                   # print(1)
                  # print(df.loc[i,'Title'])
        if save==True:
            df.loc[extracted_results].drop_duplicates().to_csv(f'{theme}.csv')

# Single Theme

In [6]:
extract_products(['Saint Patrick'],save=False)  #pass save==True if you want to save the results

# Multiple Themes

In [7]:
extract_products(['Saint Patrick','30th Birthday'],save=True) 
#you can add more themes in single quotes separated by comma
#pass save==True if you want to save the results