In [2]:
import pandas as pd
import numpy as np

# Creating the Pandas Series

In [ ]:
### create pandas series for numrical indices

In [ ]:
### create pandas series in which both strings and numbers are present as index

In [ ]:
### create pandas series in which index contain empty values

In [ ]:
### create pandas series in which index should consists of random 5 no. between 10 to 50

# Pandas Series Management

In [5]:
### how can we changes the indices of a series

In [6]:
### How can we get list of series indices

In [7]:
### how can we get list of series values

In [8]:
# Suppose we have series with numerical and string indices, write python code that converts
#indices to the same data type

In [ ]:
# can we change the names of a series, if yes, then how

In [14]:
list1 = [1, 2.7, 54,np.nan]
list2 = [1, 2.7, 9, 54]
s = pd.Series(data=list1,index=list2)
s

1.0      1.0
2.7      2.7
9.0     54.0
54.0     NaN
dtype: float64

In [13]:
# consider above series
# write python script for extractig the indices where null values are present

# Accessiing Elements of Pandas Series

In [16]:
names = ['Emma', 'Olivia', 'Ava', 'Isabella', 'Sophia', 'Charlotte', 'Mia', 'Amelia', 'Harper', 'Evelyn', 
         'Abigail', 'Emily', 'Elizabeth', 'Mila', 'Ella', 'Avery', 'Sofia', 'Camila', 'Aria', 'Scarlett', 
         'Victoria', 'Madison', 'Luna', 'Grace', 'Chloe']
series=pd.Series(names)

In [17]:
series

0          Emma
1        Olivia
2           Ava
3      Isabella
4        Sophia
5     Charlotte
6           Mia
7        Amelia
8        Harper
9        Evelyn
10      Abigail
11        Emily
12    Elizabeth
13         Mila
14         Ella
15        Avery
16        Sofia
17       Camila
18         Aria
19     Scarlett
20     Victoria
21      Madison
22         Luna
23        Grace
24        Chloe
dtype: object

### write outptut of followings

In [ ]:
#series[7]

In [ ]:
#series[3,2]

In [ ]:
#series[[3,2]]

In [ ]:
#series.iloc[4]

In [ ]:
#series.loc[3]

In [ ]:
#series.iloc[[8,17]]

In [ ]:
########################################################################################################

In [26]:
names = ['Emma', 'Olivia', 'Ava', 'Isabella', 'Sophia', 'Charlotte', 'Mia', 'Amelia', 'Harper', 'Evelyn', 
         'Abigail', 'Emily', 'Elizabeth', 'Mila', 'Ella', 'Avery', 'Sofia', 'Camila', 'Aria', 'Scarlett', 
         'Victoria', 'Madison', 'Luna', 'Grace', 'Chloe']
values=np.random.randint(0,len(names),size=len(names))
series=pd.Series(values,index=names)

In [27]:
series

Emma         14
Olivia        7
Ava          17
Isabella      5
Sophia       22
Charlotte    22
Mia           4
Amelia        2
Harper       23
Evelyn       12
Abigail      23
Emily        10
Elizabeth     3
Mila         12
Ella         13
Avery         8
Sofia        22
Camila       18
Aria          5
Scarlett      0
Victoria      4
Madison      22
Luna         21
Grace        23
Chloe         3
dtype: int32

In [ ]:
#series[['Emma', 'Aria']]

In [ ]:
#series.iloc[[2,0]]

In [ ]:
#series.loc['Elizabeth': 'Camila']

In [ ]:
#series.loc[5:15]

In [ ]:
#series[1:4]

In [ ]:
#series['Grace':'Chloe':2]

In [ ]:
#series['Abigail':'Avery':-1]

# Misc Questions

In [ ]:
### why it is recommended to use numerical ordered indices instead of strings and unordered numerical indices

In [15]:
### what is the difference between .nbytes and .size attributes of pandas series