In [44]:
import pandas as pd
import re
import neattext as nt

In [90]:
df=pd.read_csv('Tesla.csv',usecols=['date','place', 'tweet', 'language', 'hashtags', 'day','nlikes', 'nreplies',
       'nretweets'])

In [91]:
df.tweet=df.tweet.apply(lambda x:re.sub(r'(http://[^"\s]+)|(@\w+)','',x))

In [92]:
df.tweet=df.tweet.apply(lambda x:re.sub(r'(http://[^"\s]+)|(#\w+)','',x))

In [93]:
df.tweet=df.tweet.apply(lambda x:nt.remove_special_characters(x))

In [94]:
df.tweet=df.tweet.apply(lambda x:nt.remove_urls(x))

In [95]:
df.tweet=df.tweet.apply(lambda x:nt.remove_multiple_spaces(x))

In [96]:
df.tweet=df.tweet.apply(lambda x:x.strip())

In [97]:
pd.set_option('display.max_colwidth',50)

In [98]:
df.tweet

0        I have six 4 of them still live at home being ...
1        Then go for your dozen kids you are just missi...
2        about buying a country You could turn it into ...
3        Actual receipts and yet you havent asked anyon...
4        Tesla wall battery for the save Power went out...
                               ...
10011    Dude only said he is buying twitter to sell 8 ...
10012                                   Give me your Tesla
10013    Sebuah keluarga yang setia kepada Tesla bertuk...
10014    Chick Fil A should definitely go public they s...
10015                   Fossil fuels Like coal natural gas
Name: tweet, Length: 10016, dtype: object

In [99]:
df.columns

Index(['date', 'place', 'tweet', 'language', 'hashtags', 'day', 'nlikes',
       'nreplies', 'nretweets'],
      dtype='object')

In [102]:
df['date'].value_counts()

2022-07-11 16:58:09    6
2022-07-11 16:58:12    5
2022-07-11 16:58:11    5
2022-07-11 16:35:09    5
2022-07-11 10:30:00    4
                      ..
2022-07-11 16:01:42    1
2022-07-11 12:34:34    1
2022-07-11 16:02:26    1
2022-07-11 13:50:40    1
2022-07-11 06:48:19    1
Name: date, Length: 8768, dtype: int64

In [101]:
df.language.value_counts()

en     7358
es      518
de      349
ja      269
und     218
fr      206
tr      188
qme     111
pl      100
in       81
pt       80
nl       77
it       63
ca       33
ko       29
zh       27
qam      26
et       23
da       22
ar       20
cs       20
tl       20
no       19
sv       18
fi       17
eu       13
el       12
ht       12
uk       10
hi       10
hu       10
ru        8
lv        7
sl        7
is        6
ro        6
th        5
te        4
qht       2
lt        2
cy        2
vi        2
ne        1
ur        1
kn        1
ml        1
gu        1
bg        1
Name: language, dtype: int64