In [43]:
import sqlite3
import pandas as pd

In [2]:
conn= sqlite3.connect('criteria.db')
c = conn.cursor()
def create_ds_skills():
    c.execute('CREATE TABLE IF NOT EXISTS ds_skills(skill_id INTEGER PRIMARY KEY,skill TEXT)')
create_ds_skills()

In [3]:
conn= sqlite3.connect('criteria.db')
c = conn.cursor()
def add_ds_skills(skill_id,skill):
    c.execute('INSERT INTO ds_skills(skill_id,skill) VALUES (?,?)',(skill_id,skill))
    conn.commit()

In [4]:
ds_skills=[('Data Analysis', 1),
    ('Data Visualization', 2),
    ('Machine Learning', 3),
    ('Statistical Modeling', 4),
    ('Predictive Analytics', 5),
    ('Data Mining', 6),
    ('Natural Language Processing', 7),
    ('Deep Learning', 8),
    ('Neural Networks',9),
    ('Artificial Intelligence',10),
    ('Big Data Analytics',11),
    ('Time Series Analysis',12),
    ('Regression Analysis', 13),
    ('Clustering', 14),
    ('Classification', 15),
    ('Sentiment Analysis',16),
    ('Text Analytics', 17),
    ('Image Processing', 18),
    ('Web Scraping', 19),
    ('Data Cleaning', 20),
    ('Data Wrangling', 21),
    ('Data Preprocessing',22),
    ('Feature Engineering', 23),
    ('Dimensionality Reduction',24),
    ('Ensemble Methods', 25),
    ('Model Evaluation', 26),
    ('Model Selection', 27),
    ('Hyperparameter Tuning',28),
    ('Reinforcement Learning', 29),
    ('Bayesian Inference',30)]

In [5]:
for skill in ds_skills:
   # print(skill)
    add_ds_skills(skill[1], skill[0])

In [6]:
def view_all_skills():
    c.execute("SELECT * FROM ds_skills")
    data=c.fetchall()
    return data

In [31]:
skills=view_all_skills()

In [27]:
conn= sqlite3.connect('criteria.db')
c = conn.cursor()
def update_ds_skills(skill_id,skill):
    c.execute("UPDATE ds_skills SET skill=? WHERE skill_id=?",(skill,skill_id))
    conn.commit()

In [29]:
update_ds_skills(1,'Data')

In [10]:
conn= sqlite3.connect('criteria.db')
c = conn.cursor()
def create_ds_education():
    c.execute('CREATE TABLE IF NOT EXISTS ds_education(education_id INTEGER PRIMARY KEY,education TEXT)')
create_ds_education()

In [11]:
data_science_education = [('Bachelor of Science in Computer Science',1), 
                         ('Master of Science in Data Science',2), 
                         ('Master of Information and Data Science',3), 
                         ('Postgraduate Diploma in Data Science', 4),
                         ('Professional Certificate in Data Science',5),
                         ('Bachelor of Science in Computer Statistics',6),
                         ('Bachelor of Science in Computer Mathematics',7),
                         ( 'Ph.D. in computer science',8),
                         ]

In [12]:
conn= sqlite3.connect('criteria.db')
c = conn.cursor()
def add_ds_education(education_id,education):
    c.execute('INSERT INTO ds_education(education_id,education) VALUES (?,?)',(education_id,education))
    conn.commit()

In [14]:
for education in data_science_education:
    add_ds_education(education[1],education[0])

In [32]:
conn= sqlite3.connect('criteria.db')
c = conn.cursor()
def update_ds_education(education_id,education):
    c.execute("UPDATE ds_education SET education=? WHERE education_id=?",(education,education_id))
    conn.commit()

In [33]:
update_ds_education(1,"fsdf")

In [34]:
def view_all_educations():
    c.execute("SELECT * FROM ds_education")
    data=c.fetchall()
    return data

In [35]:
view_all_educations()

[(1, 'fsdf'),
 (2, 'Master of Science in Data Science'),
 (3, 'Master of Information and Data Science'),
 (4, 'Postgraduate Diploma in Data Science'),
 (5, 'Professional Certificate in Data Science'),
 (6, 'Bachelor of Science in Computer Statistics'),
 (7, 'Bachelor of Science in Computer Mathematics'),
 (8, 'Ph.D. in computer science')]

In [36]:
conn= sqlite3.connect('criteria.db')
c = conn.cursor()
def create_soft_skills():
    c.execute('CREATE TABLE IF NOT EXISTS soft_skills(s_sklill_id INTEGER PRIMARY KEY,s_skill TEXT)')
create_soft_skills()

In [37]:
soft_skills = [("Problem-solving skills",1),
   ( "Attention to detail",2),
    ("Communication skills (both written and verbal)",3),
    ("Time management skills",4),
    ("Ability to work independently and in a team",5),
    ("Adaptability and flexibility",6),
    ("Continuous learning and self-improvement",7),
    ("Customer service skills",8),
    ("Creative thinking",9),
    ("Interpersonal skills",10),
    ("Leadership skills",11),
    ("Project management skills",12),
    ("Collaboration skills",13),
    ("Teamwork skills",14),
    ("Negotiation skills",15),
    ("Decision-making skills",16),
    ("Innovation skills",17),
    ("Empathy and emotional intelligence",18),
    ("Networking skills",19),
    ("Presentation skills",20),
    ("Strategic thinking",21),
    ("Goal-oriented mindset",22),
    ("Organizational skills",23),
    ("Analytical skills",24),
    ("Critical thinking",25),
    ("Curiosity",26),
    ("Positive attitude",27),
    ("Humility",28),
    ("Patience",29)]

In [38]:
conn= sqlite3.connect('criteria.db')
c = conn.cursor()
def add_soft_skils(s_skill_id,s_skill):
    c.execute('INSERT INTO soft_skills(s_sklill_id,s_skill) VALUES (?,?)',(s_skill_id,s_skill))
    conn.commit()

In [39]:
for s_skill in soft_skills:
    add_soft_skils(s_skill[1],s_skill[0])

In [40]:
def view_all_s_skills():
    c.execute("SELECT * FROM soft_skills")
    data=c.fetchall()
    return data

In [41]:
view_all_s_skills()

[(1, 'Problem-solving skills'),
 (2, 'Attention to detail'),
 (3, 'Communication skills (both written and verbal)'),
 (4, 'Time management skills'),
 (5, 'Ability to work independently and in a team'),
 (6, 'Adaptability and flexibility'),
 (7, 'Continuous learning and self-improvement'),
 (8, 'Customer service skills'),
 (9, 'Creative thinking'),
 (10, 'Interpersonal skills'),
 (11, 'Leadership skills'),
 (12, 'Project management skills'),
 (13, 'Collaboration skills'),
 (14, 'Teamwork skills'),
 (15, 'Negotiation skills'),
 (16, 'Decision-making skills'),
 (17, 'Innovation skills'),
 (18, 'Empathy and emotional intelligence'),
 (19, 'Networking skills'),
 (20, 'Presentation skills'),
 (21, 'Strategic thinking'),
 (22, 'Goal-oriented mindset'),
 (23, 'Organizational skills'),
 (24, 'Analytical skills'),
 (25, 'Critical thinking'),
 (26, 'Curiosity'),
 (27, 'Positive attitude'),
 (28, 'Humility'),
 (29, 'Patience')]

In [88]:
import neattext as nt

In [90]:
import os
import PyPDF2
import docx2txt
import pandas as pd

def extract_text(filename):
    """
    Extracts text from PDFs and Word docs.
    """
    _, ext = os.path.splitext(filename)
    if ext == '.pdf':
        with open(filename, 'rb') as file:
            text=''
             # Create a PDF reader object
            reader = PyPDF2.PdfFileReader(file)
            # Get the number of pages in the PDF
            num_pages = reader.getNumPages()
            # Loop through each page in the PDF
            for page_num in range(num_pages):
                # Get the current page
                page = reader.getPage(page_num)
                # Extract the text from the current page
                text += page.extractText()
                return text
    elif ext == '.docx':
        document= docx2txt.process(filename)
        doc_text = str(document)
        return doc_text

def read_files(directory):
    """
    Reads all files in a directory and extracts text from PDFs and Word docs.
    Returns a dictionary of file names and text.
    """
    files = {}
    for filename in os.listdir(directory):
        filepath = os.path.join(directory, filename)
        if os.path.isfile(filepath):
            text = extract_text(filepath)
            if text:
                files[filename] = text
    return files

# Example usage
directory = './'
files = read_files(directory)
df=pd.DataFrame(files.items())
#print(files)

In [91]:
df.columns=['resume_name','resume_text']

In [92]:
df['candidate_email']=df['resume_text'].apply(lambda x:'|'.join(nt.extract_emails(x)))
df['candidate_email']=df['candidate_email'].apply(lambda x:[email for email  in x.split("|")][0])
df['candidate_phone']=df['resume_text'].apply(lambda x:'|'.join(nt.extract_phone_numbers(x)))
df['candidate_phone']=df['candidate_phone'].apply(lambda x:[phone for phone  in x.split("|")][0])

In [93]:
df[['resume_name','candidate_phone','candidate_email']]

,resume_name,candidate_phone,candidate_email
0,3. ChartOCR_Data_Extraction_From_Charts_Images...,,
1,Applied_Machine_Learning_Assignment_1_2023.pdf,,
2,CV1.docx,,
3,CV10.docx,(222) 949-5578,SharaArmour@gmail.com
4,CV11.docx,(254) 844-5629,JudyWelch@gmail.com
5,CV11.pdf,,Q@7
6,CV12.docx,(627) 367-2287,WilliamBaltazar@gmail.com
7,CV13.docx,(433) 686-6674,SusanVillanueva@gmail.com
8,CV14.docx,,LeonDean@gmail.com
9,CV15.docx,(545) 885-2686,BettyRedden@gmail.com
10,CV16.docx,(863) 435-4986,LanceDuffie@gmail.com
11,CV17.docx,,
12,CV18.docx,(745) 483-4946,HowardAnderson@gmail.com
13,CV19.docx,(289) 863-9669,FredStewart@gmail.com
14,CV2.docx,(922) 679-9797,HelenGrant@gmail.com
15,CV2.pdf,4 6( ) 4 7,
16,CV20.docx,(636) 638-4737,JerryBode@gmail.com
17,CV3.docx,(786) 324-2395,ClarencePrice@gmail.com
18,CV4.docx,(979) 879-2326,JenniferGillman@gmail.com
19,CV5.docx,(937) 794-8772,BonniePelt@gmail.com
20,CV6.docx,(685) 682-3747,VirgilRasmussen@gmail.com
21,CV6.pdf,,
22,CV7.docx,(526) 372-3648,GayleHawkins@gmail.com
23,CV8.docx,(745) 368-7944,DonaldBritt@gmail.com
24,CV9.docx,(873) 929-6922,CarmenNakata@gmail.com

In [94]:
skills=view_all_skills()

In [95]:
len(skills)

61

In [96]:
skills_rank=0

In [97]:
experiences_rank=0

In [98]:
def check_skils(resume_text):
    skills_rank=0
    for skill in skills:
        #print(skill[0])
        if skill[0] in resume_text:
            #print(1)
            skills_rank+=1
    return skills_rank/len(skills)*100

In [99]:
check_skils(text)

96.72131147540983

In [100]:
df['skills_rank']=df['resume_text'].apply(lambda x:check_skils(x))
df['skills_rank']=df['resume_text'].apply(lambda x:check_skils(x))

In [101]:
df=df.sort_values(by=['skills_rank'],ascending=False)
df[['candidate_email','candidate_phone','skills_rank']]

              candidate_email candidate_phone  skills_rank
2                                               100.000000
12   HowardAnderson@gmail.com  (745) 483-4946     4.918033
8          LeonDean@gmail.com                     3.278689
14       HelenGrant@gmail.com  (922) 679-9797     0.000000
23      DonaldBritt@gmail.com  (745) 368-7944     0.000000
22     GayleHawkins@gmail.com  (526) 372-3648     0.000000
21                                                0.000000
20  VirgilRasmussen@gmail.com  (685) 682-3747     0.000000
19       BonniePelt@gmail.com  (937) 794-8772     0.000000
18  JenniferGillman@gmail.com  (979) 879-2326     0.000000
17    ClarencePrice@gmail.com  (786) 324-2395     0.000000
16        JerryBode@gmail.com  (636) 638-4737     0.000000
15                                 4 6( ) 4 7     0.000000
0                                                 0.000000
13      FredStewart@gmail.com  (289) 863-9669     0.000000
1                                                 0.000000
11                                                0.000000
10      LanceDuffie@gmail.com  (863) 435-4986     0.000000
9       BettyRedden@gmail.com  (545) 885-2686     0.000000
7   SusanVillanueva@gmail.com  (433) 686-6674     0.000000
6   WilliamBaltazar@gmail.com  (627) 367-2287     0.000000
5                         Q@7                     0.000000
4         JudyWelch@gmail.com  (254) 844-5629     0.000000
3       SharaArmour@gmail.com  (222) 949-5578     0.000000
24     CarmenNakata@gmail.com  (873) 929-6922     0.000000

In [2]:
soft_skills=[]

In [3]:
certificates=[]

In [4]:
educations=[]